@import 'tailwindcss';

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #0a0a0e;
  color: white;
  text-align: center;

  background-image:
    radial-gradient(
      600px 600px at 50% 0vh,
      rgba(181, 204, 247, 0.18),
      transparent 60%
    ),
    radial-gradient(
      600px 600px at 110% 70vh,
      rgba(163, 220, 230, 0.16),
      transparent 60%
    ),
    radial-gradient(
      600px 600px at -10% 140vh,
      rgba(181, 204, 247, 0.14),
      transparent 60%
    ),
    radial-gradient(
      600px 600px at 110% 200vh,
      rgba(181, 204, 247, 0.12),
      transparent 60%
    );
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
}
